*.swp
.Xauthority
.bash_history
.cache
.config/chromium
.config/chromium/*
.config/dconf/user
.config/gconf/desktop/gnome/peripherals/mouse/%gconf.xml
.elinks
.gimp*
.gnome
.idlerc
.local/share/clipit/history
.moonchild productions
.mozilla
.packer.d
.pki
.python_history
.ssh/id_rsa
.ssh/known_hosts
.vim/.netrwhist
.viminfo
.xsession-errors*
.zcompdump*
.zsh_history
projects
