*.swp
.bash_history
.cache
.config/chromium
.config/chromium/*
.elinks
.gimp*
.gnome
.local/share/clipit/history
.moonchild productions
.mozilla
.pki
.ssh/id_rsa
.ssh/known_hosts
.vim/.netrwhist
.viminfo
.xsession-errors*
