*.swp
.Xauthority
.atom
.bash_history
.cache
.config
.config/Atom
.config/chromium
.config/chromium/*
.config/dconf/user
.config/gconf/desktop/gnome/peripherals/mouse/%gconf.xml
.dmrc
.elinks
.gimp*
.gnome
.idlerc
.lesshst
.local
.local/share/clipit/history
.moonchild productions
.mozilla
.oh-my-zsh
.packer.d
.pki
.python_history
.ssh/id*
.ssh/known_hosts
.vim/.netrwhist
.viminfo
.wget-hsts
.xsession-errors*
.zcompdump*
.zsh-update
.zsh_history
Downloads
Pictures
bin
go
projects
